.document-edit-view {
  width: 65rem !important;
}

.document-edit-block__content {
  position: relative;
  box-sizing: border-box;
  padding: 0.4rem;
  height: auto;
  flex: 1 1 auto;
  font-weight: 500;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}

.document-edit-block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.document-edit-block__label {
  font-weight: 400;
  color: black;
  margin: 0.4rem;
}

.document-edit-block__label2 {
  font-weight: 400;
  color: black;
  font-size: 0.8rem;
}

.document-edit-block__label--consignment {
  font-weight: 400;
  color: black;
  font-size: 0.8rem;
  margin: 0.8rem;
}

.document-edit-block__label--consignment_total_amount {
  font-weight: 500;
  font-size: 1rem;
  color: black;
  margin: 0.8rem;
}

.document-layout__section {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e4ea;
  box-sizing: border-box;
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  height: 100%;
  width: 100%;
}

.document-edit-block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.document-edit-block--right {
  text-align: right;
  float: right;
}

.document-edit-block__input--right {
  text-align: right;
  float: right;
}

.document-edit-block__page-number {
  margin: 0 0.2rem;
}

.drop-down_content-lg {
  max-width: 26rem;
}

.drop-down_content-md {
  max-width: 13rem;
}

.document-edit-block__layout {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.document-edit-block__layout-block {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
}

.block--width-015 {
  min-width: 15%;
  max-width: 15%;
}

.block--width-030 {
  min-width: 30%;
  max-width: 30%;
}

.block--width-070 {
  min-width: 70%;
  max-width: 70%;
}

.block--width-025 {
  min-width: 25%;
  max-width: 25%;
}

.block--width-020 {
  min-width: 20%;
  max-width: 20%;
}

.document-edit-block__total {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-weight: 500;
}

.document-edit-block__total-symbol {
  margin: 0 0.2rem;
  font-size: 1rem;
  font-weight: 500;
}

.document-edit-block__input {
  display: block;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.75rem 0.5rem;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  flex: 1 1 auto;
  border: none;
  background-color: #f5f6f8;
  border-radius: 6px;
  outline: none;
  color: #031b4e;
  font-family: Inter, Arial, sans-serif;
}

.document-edit-block__input:disabled {
  border-bottom: none;
  background: #fff;
  pointer-events: none;
  cursor: not-allowed;
}

.document-edit-block--inline {
  display: flex;
  flex-direction: row;
}

.document-edit-block--inline * {
  margin: 0 0.4rem 0 0;
}

.document-edit-block__textfield {
  border-radius: 6px;
  font-family: Inter, Arial, sans-serif;
  color: #031b4e;
}

.react-datepicker__input-container {
  width: auto;
}

.document-layout__span {
  text-align: center;
  padding: 0.4rem;
  color: black;
  font-size: 0.8rem;
}

.document-edit-block__amount {
  padding: 0.7rem;
  color: black;
  font-weight: 500;
}

/* Select  */
.document-edit-block__select {
  height: 100%;
  width: 100%;
}

/* Date Picker */
.react-datepicker-popper {
  z-index: 2;
}

.document-edit-block__datefield {
  border: 1px solid #f5f6f8;
  border-radius: 6px;
}

.document-edit-block__datefield:focus {
  border: 1px solid #1890ff;
  border-radius: 6px;
}

/* Text Editor */
.document-edit-block__rich-text-editor-wrapper {
  position: relative;
  border: none;
  background-color: #f5f6f8;
  border-radius: 6px;
  outline: none;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.document-edit-block__rich-text-editor-toolbar {
  display: flex;
  opacity: 0;
  flex: 0 0 auto;
  top: -1.5rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(3, 27, 78, 0.07);
  box-shadow: 0 10px 12px -3px rgba(3, 27, 78, 0.07);
  border-radius: 0.25rem;
  position: absolute;
  right: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.document-edit-block__rich-text-editor-editor {
  height: 100%;
  overflow: hidden;
  padding: 0.4rem;
  flex: 1 1 auto;
  cursor: text;
  border: none;
  background-color: #f5f6f8;
  border-radius: 6px;
  outline: none;
}

document-edit-block__rich-text-editor-editor:hover {
  filter: brightness(98%);
}

.document-edit-block__rich-text-editor-editor--active {
  background-color: #fff !important;
  color: #031b4e;
  box-shadow: inset 0 0 0 1px #004de6;
}

.document-edit-block__rich-text-editor-toolbar--active {
  opacity: 1;
  top: -2.5rem;
}

.document-edit-block__rich-text-editor-toolbar {
  opacity: 1;
  top: -2.5rem;
  display: flex;
  flex: 0 0 auto;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(3, 27, 78, 0.07);
  box-shadow: 0 10px 12px -3px rgba(3, 27, 78, 0.07);
  border-radius: 0.25rem;
  position: absolute;
  right: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.document-edit-block__rich-text-editor-toolbar .rdw-option-wrapper {
  background: #fff;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  box-shadow: none;
}

.rdw-option-active {
  /* box-shadow: 1px 1px 0px #BFBDBD inset; */
  background: #f5f6f8 !important;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0px 0 !important;
  padding: 0;
}

.demo-option-custom {
  border: none !important;
}

.public-DraftStyleDefault-block {
  margin: 0px 0 !important;
}

/** Product Table Styling */
.document-edit-block__table-button {
    margin: .4rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.btn--2 {
    padding: .5rem .75rem;
    max-height: 2rem;
    font-size: 14px;
    font-size: .875rem;
    font-family: Inter,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1rem;
    vertical-align: middle;
    line-height: .875rem;
}

.btn--secondary-blue {
    color: #3370eb;
    background-color: rgba(51,112,235,.07);
    fill: #3370eb;
}

.btn {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: .375rem;
    white-space: nowrap;
    display: flex;
    transition: background-color 50ms ease-in-out,color 50ms ease-in-out,box-shadow .1s ease-in-out;
    justify-content: center;
    align-items: center;
    font-family: Inter,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 500;
}

.btn--2.btn--icon-left .icon {
    margin-right: .375rem;
}

.btn .icon {
    transition: fill .1s ease-in-out;
    width: .875rem;
    height: .875rem;
}

/** Delete Icon */
.document-edit-block__table-content-row-action {
    min-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    background: #fff;
    border: 1px solid rgba(3,27,78,.2);
    box-shadow: 0 10px 22px -10px rgba(3,27,78,.07);
}

.document-edit-block__table-content-row-action--danger svg {
    height: 1rem;
    width: 1rem;
    fill: #d1858e;
}

.icon--delete {
      margin-right: 0px;

}

/** Percent Icon */
.ml--0_5 {
    margin-left: .5rem;
}

/** Custom Style */
textarea:focus {
  background-color: #fff;
}

input:focus {
  background-color: #fff;
}



.input-element-modal {
  display: block;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.75rem 0.5rem;
  width: 100%;
  height: 100%;
  min-height: 2.5rem;
  flex: 1 1 auto;
  border: none;
  background-color: #f5f6f8;
  border-radius: 6px;
  outline: none;
  color: #031b4e;
  font-family: Inter, Arial, sans-serif;
  
  
}
.div-element-modal {
  margin:0.5rem;
}

.div-element-title{
  margin: 1rem;
}

.additionalInfoButton {
  border: none;
}

.addressButton{
  border: none;
}

.buttons {
  border-bottom: 1px solid black;
  opacity: 0.3;
  padding: 1rem;
  margin-left: 2rem;
  margin-right:2rem;
  margin-bottom: 2rem;
}


