.document-edit-block__content {
  position: relative;
  box-sizing: border-box;
  padding: 0.4rem;
  height: auto;
  flex: 1 1 auto;
  font-weight: 500;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}

.document-edit-block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Inter,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
}

.document-edit-block__label {
  font-weight: 400;
  color: black;
  margin: 0.4rem;
}

.document-edit-block__label2 {
  font-weight: 400;
  color: black;
  font-size: 0.8rem;
}

.document-layout__section {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e4ea;
    box-sizing: border-box;
    position: relative;
    margin-bottom: -1px;
    margin-right: -1px;
    height: 100%;
    width: 100%;
}

.document-edit-block {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Inter,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
}

.document-edit-block--right {
    text-align: right;
    float: right;
}

.document-edit-block__page-number {
    margin: 0 .2rem;
}

.drop-down_content-lg {
    max-width: 26rem;
}

.drop-down_content-md {
    max-width: 13rem;
}

.document-edit-block__layout {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.document-edit-block__layout-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    box-sizing: border-box;
}

.block--width-015 {
    min-width: 15%;
    max-width: 15%;
}

.block--width-030 {
    min-width: 30%;
    max-width: 30%;
}

.document-edit-block__total {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-weight: 500;
}

.document-edit-block__total-symbol {
    margin: 0 .2rem;
    font-size: 1rem;
    font-weight: 500;
}

.document-edit-block__input {
    display: block;
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: 500;
    padding: .75rem .5rem;
    width: 100%;
    height: 100%;
    min-height: 2.5rem;
    flex: 1 1 auto;
    border: none;
    background-color: #f5f6f8;
    border-radius: 6px;
    outline: none;
    color: #031b4e;
    font-family: Inter,Arial,sans-serif;
}

.document-edit-block__input:disabled {
    border-bottom: none;
    background: #fff;
    pointer-events: none;
    cursor: not-allowed;
}

.document-edit-block--inline {
    display: flex;
    flex-direction: row;
}

.document-edit-block--inline * {
    margin: 0 .4rem 0 0;
}

.document-edit-block__textfield {
    border-radius: 6px;
    font-family: Inter,Arial,sans-serif;
    color: #031b4e;
}

.react-datepicker__input-container {
    width: auto;
}

/* Text Editor */
.document-edit-block__rich-text-editor-wrapper {
        position: relative;
    border: none;
    background-color: #f5f6f8;
    border-radius: 6px;
    outline: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.document-edit-block__rich-text-editor-toolbar {
    display: flex;
    opacity: 0;
    flex: 0 0 auto;
    top: -1.5rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(3,27,78,.07);
    box-shadow: 0 10px 12px -3px rgba(3,27,78,.07);
    border-radius: .25rem;
    position: absolute;
    right: 0;
    transition: all .2s cubic-bezier(.075,.82,.165,1);
}

.document-edit-block__rich-text-editor-editor {
    height: 100%;
    overflow: hidden;
    padding: .4rem;
    flex: 1 1 auto;
    cursor: text;
    border: none;
    background-color: #f5f6f8;
    border-radius: 6px;
    outline: none;
}

.document-edit-block__rich-text-editor-toolbar--active {
    opacity: 1;
    top: -2.5rem;
}

.document-edit-block__rich-text-editor-toolbar {
        opacity: 1;
    top: -2.5rem;
    display: flex;
    flex: 0 0 auto;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(3,27,78,.07);
    box-shadow: 0 10px 12px -3px rgba(3,27,78,.07);
    border-radius: .25rem;
    position: absolute;
    right: 0;
    transition: all .2s cubic-bezier(.075,.82,.165,1);
}