.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  align-self: center;
  width: 65rem !important;
  box-shadow: 0 10px 4px rgba(3,27,78,.2);
  border: 1px solid rgba(3,27,78,.2);
}
